body {
    background-color: white;
}

#date {
    text-align: right;
}

/*
    PROFILE
*/

.proPic {
    text-align: center;
}

.profile {
   
}

.mce-panel {
    border: 0 !important;
    background-color: white !important;
}

#checkbox {
    margin-left: 9em;
}




/*
    JOURNAL ENTRY
*/

#formDate {
    text-align: right;
}

#entryTitle{
    font-size: x-large;
    font-family: 'Fjalla One', sans-serif;
    border: none;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.mainJournal {
    max-height: 100%;
    max-width: 100%;
    margin-top: 50px;
}

#journal {
    border: none;
    overflow: visible;
    resize: none;
    outline: none;
    width: 300px;
    min-height: 600px;
    margin-left: -8em;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#search{
    float: right;
}
.colRight {
    height: 100%;
    text-align: right;
}

.colLeft {
    height: 100%;
}

/*
    DASHBOARD
*/
.entries {
    margin-top: 10em;
    height: 75px;
    transition: margin-left ease-in 4s;
}

.journalTitle {
    margin-top: 5px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: gold;
    height: 55px;
}
.journalTitle p{
    margin-top: 12px;
    margin-bottom: -10px;
    color: black;
    
}

.journalTitle p:hover{
    color: ivory;
    font-weight: bold;
    letter-spacing: .5px;
}

.journalTitle a{
    text-decoration: none;
}
.delete {
    float: right;
    color: black;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.delete:hover{
    color: red;
    cursor: pointer;
    font-size: 104%;
     -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*
    MY JOURNAL
*/

.readingJournal {
    margin-top: 5em;
}
#readTitle {
    font-family: 'Fjalla One', sans-serif;
}
.time {
    margin-left: 5em;
}

.readBody {
    float: left;
    margin-top: 2em;
    margin-left: -8em;
    font-size: 16px;
}
