body {
    background-color: white;
}

.profile {
   border: 2px solid red;
}

.mce-panel {
    border: 0 !important;
    background-color: white !important;
}

#checkbox {
    margin-left: 9em;
}



#date {
    text-align: right;
}

/*
    JOURNAL ENTRY
*/

#formDate {
    text-align: right;
}

#entryTitle{
    font-size: x-large;
    border: none;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.mainJournal {
    border: 2px dotted blue;
    max-height: 100%;
    max-width: 100%;
    margin-top: 50px;
}

#journal {
    border: none;
    overflow: visible;
    resize: none;
    outline: none;
    width: 300px;
    min-height: 600px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#search{
    float: right;
}
.colRight {
    height: 100%;
    text-align: right;
}

.colLeft {
    height: 100%;
}

/*
    DASHBOARD
*/
.entries {
    margin-top: 10em;
    height: 75px;
}

.journalTitle {
    margin-top: 5px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: gold;
    height: 55px;
}
.journalTitle p{
    margin-top: 12px;
    margin-bottom: -10px;
    color: black;
}

.journalTitle p:hover{
    color: grey;
}

.journalTitle a{
    text-decoration: none;
}
.delete {
    float: right;
    color: black;
}

.delete:hover{
    color: red;
    cursor: pointer;
    font-size: 104%;
}