body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-brand {
    margin-left: 16% !important;
    font-size: 48px;
    font-family: 'Fredericka the Great', cursive;
}

.navbar a:hover {
    color: black !important;
}

.navbar-inverse {
    background-color: white;
    border-color: transparent;
}

.mce-panel {
    border: 0;
    background-color: white;
}

.profile {
    margin-top: 10em;
}

.public_entries li{
    color: transparent;
}

@media(max-width: 1032px){
    .navbar-brand {
        margin-left: 10% !important;
        padding-right: 0 !important;
    }
      .greeting a{
        padding-left: 0 !important;
    }
}

@media(max-width: 991px){
    .navbar-brand {
        padding-right: 0 !important;
       font-size: 35px;
        margin-left: 0 !important;
    }
    .greeting a{
        padding-left: 0 !important;
    }
    .readingJournal {
        margin-top: 15%;
        margin-left: 35%;
    }
    .time {
        float: left;
        margin-left: 2em;
    }
}

@media(max-width: 630px){
    .navbar-brand {
       
    }
    .readingJournal {
        margin-left: 25%;
    }
    .readBody{
        margin: 0;
    }
    .time p{
        display: none;
    }
}

@media(max-width: 368px){
    .navbar-brand {
        display: none;
    }
    .readingJournal {
        margin-left: 25%;
    }
    .readBody{
        margin: 0;
    }
    .time {
        display: none; 
    }
}
