@model IEnumerable<DripScript.Models.JournalEntry>
@{
    Layout = "~/Views/Shared/_DripScriptLayout.cshtml";
    var date = from u in Model select u.Date;
}

<div ng-controller="TestController">
    <div class="container">
        <div class="entries row">
            @foreach (var item in Model)
            {
                                  
                    <div class="journalTitle col-md-3">
                        <a href="/DripScript/MyJournal/@item.EntryId" ng-click="myJournal(@item.EntryId)"><p>@item.Title</p></a>                 
                        <a class="delete" ng-click="delete(@item.EntryId)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
              
            }
        </div>
    </div>
</div>
    