@model IEnumerable<DripScript.Models.DSUser>
@using Microsoft.AspNet.Identity;
@{
    Layout = "~/Views/Shared/_DripScriptLayout.cshtml";
}
<div ng-controller="TestController">

    <div class="profile container">
        <div class="row">
            <div class="form col-md-4">
                <input ng-model="first" class="form-control" id="first" type="text" placeholder="First Name" />
                <br />
                <input ng-model="last" class="form-control" id="last" type="text" placeholder="Last Name" />
            </div>
            <div class="proPic col-md-4">
                <img style="width:75%; height:75%;" src="http://2ndandcharles.com/img/sequence/scene-two/open-book.png" />
                <br />
                <br />
                <button ng-click="update()">Update Profile</button>                                                
            </div>
            <div class="col-md-4">
                <textarea ng-model="about" id="about" class="form-control" placeholder="Write About Yourself"></textarea>
            </div>
        </div>
    </div>
</div>