@model IEnumerable<DripScript.Models.JournalEntry>
@{
    Layout = "~/Views/Shared/_DripScriptLayout.cshtml";
}
<div ng-controller="TestController">
    <div class="profile container">
        <div class="row">
            <div class="form col-md-4">
                <input ng-model="first" class="form-control" id="first" type="text" placeholder="First Name" />
                <br />
                <input class="form-control" id="last" type="text" placeholder="Last Name" />
                <br />
                <input class="form-control" id="city" type="text" placeholder="City" />
                <br />
                <input class="form-control" id="zip" type="number" placeholder="Zip" />
            </div>
            <div class="col-md-4">
                <img style="width:100%;height:100%" src="http://place-hoff.com/220/155" />
                <input type="file" />
                <br />
                <h4>My Journal Entries</h4>
                <table style="text-align:center">
                    <tr>
                        <td class="public_entries">
                            @foreach (var item in Model)
                            {
                                <p><a href="/">@item.Title</a></p>
                                <button ng-click="delete()">Delete Journal</button>
                            }
                        </td>
                    </tr>         
                </table>
            </div>
            <div class="col-md-4">
                <textarea id="about" class="form-control" placeholder="Write About Yourself"></textarea>
                <br />
                <textarea id="verse" class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>